:root {
    font-family: 'Tektur', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    background-color: #F5FFFA;
}

.heading {
    margin-inline: auto;
    font-size: 4.5rem;
}

.heading-404 {
    margin-block: 0px;
    margin-inline: auto;
    font-size: 7.5rem;
}

.small-heading {
    margin-inline: auto;
    font-size: 1.5rem;
}

.heading {
    background: linear-gradient(135deg, #29D3DA, #0077FF, #064093, #084698);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientAnimation 3s alternate infinite;
}

.header-section {
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo-img {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    width: 256px;
    height: 256px;
    animation: rotateAxis 4s infinite linear;
}

.not-found-container {
    padding-inline: 6rem;
    padding-block: 6rem;
    display: grid;
    justify-content: center;
}

.not-found-img {
    width: 125px;
    height: 125px;
    margin-top: 60px;
}

.flex {
    display: flex;
    gap: 150px;
}

.go-home-back {
    text-decoration: none;
    font-size: 1rem;
}

.go-home-arrow {
    padding-left: 10px;
}

#cursor {
    animation: blinkCursor 0.5s infinite;
    opacity: 1;
    color: #0043a2;
}

@media (max-width: 600px) {
    .flex {
        gap: 10px
    }

    .heading-404 {
        font-size: 5.5rem;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes rotateAxis {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes blinkCursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}